
/* ======================== Reset ======================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;    
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======================== Base ======================== */

body{
    
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    
    min-height: 100vh;
    min-width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ======================== Layout Formulario ======================== */

.container_main{
    
    background: white;
    
    max-width: 350px;
    min-height: 40vh;
    
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
}

main h1{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative; /*Para poder usar a pseudo classe */
}

main h1::before{
    
    /* pseudo classe responsavel pelo efeito colorido da linha */

    content: '';
    position: absolute;
    height: 4px;
    width: 32px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

/* ======================== Layout Inputs ======================== */

.container_input{
    position: relative; /*Para poder usar a pseudo classe */
}

.container_input input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.container_input input::placeholder{
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.5);
}

form .container_input:first-child{
    margin-bottom: 1.5rem;
}

.container_input .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.container_input .underline::after{
    
    /* pseudo classe responsavel pelo efeito colorido da linha */
    
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;

    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transition: all .3s ease-in-out;

}

.container_input input:focus ~ .underline::after {
    transform: scaleX(1);
}

form input[type="submit"] {
    
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    
    border-radius: 4px;
    cursor: pointer;
    color: white;
    
    background: linear-gradient(to left, #4776e6,#8e54e9);
    font-weight: 300;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776e6,#8e54e9);
}

/* ======================== Layout Imagens ======================== */

.midias_sociais a{
    
    display: flex;
    
    border-radius: 0.4rem;
    padding: 0.4rem;
    margin-bottom: 5px;

    text-decoration: none;
    font-size: 0.85rem;
    cursor: pointer;
    color: white;
    
    background: linear-gradient(to right, #4776e6,#8e54e9);
}

.midias_sociais img{
    
    width: 2rem;
    height: 1.8rem;
    
    margin-top: 1rem;
}

.footer span{
    font-size: 0.8rem;
    text-align: center;
}


