
/* ======================== Reset ======================== */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
}

/* ======================== Base ======================== */

 body{
    
     background-color: #1b2029; 
    font-family: sans-serif;
    font-size: 1em;
    
}
