
/* ======================== Reset do CSS da pagina  ======================== */

body {
    /* display: grid; */
    margin: 0; 
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

/* ======================== Base do CSS  ======================== */

.conteudo{

    margin: 40px;

    width: 890px;
    border-radius: 4px 4px 0px 0px;
    
    background: rgb(161, 153, 153);
    color: rgb(106, 106, 177);
    
    font-size: 12px;
}

h3{
    padding: 15px;
}

.menu{
    
    display: grid;
    grid-template-columns: 400px 120px 100px;
    width: 790px;

    border-style: solid;
    padding: 7px;
    margin: 5px;

}

.informacao{
    display: grid;
    grid-template-columns: 90px auto; 
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* gap: 2px; */
}

.informacao input{
    height: 25px;
}

.data input{
    height: 27px;
}

#obj{
    width: 85px;
}

#num{
    width: 85px;
}

#cli{
    width: 85px;
}

#ncl{
    width: 300px;
}
 
#desc{
    width: 204px;
}

.selecao{
    display: grid;
    grid-template-columns: 120px 100px;
    gap: 5px;
    
}

.slc_financeiro{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.slc_estatus{
    display: flex;
    flex-direction: column; 
}


.selecObjeto{
    margin: 15px;
}

.footer{
    width: 800px;
    margin-top: 4px;
    border-style: solid;
    padding: 4px;
}