body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    width:  100vw;
    background: linear-gradient(72deg, #3debb0 21%, #8956f3 99%);
    
}

.content{
    
    /* height: 32.5rem; */
    /* width: 58.44rem; */
    
    height: 803px; 
    width: 570px;

    overflow: hidden; /* Oculta os elementos que ultrapasarem o elemento */
    
    position: absolute;
    /* margin-top: 1.25rem;
    margin-left: 28%; */
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%)
}

.navegation{
    
    position: absolute;
    bottom: 20px;
    
    left: 50%;
    transform: translate(-50%);
    display: flex;
    
}

.barra{
    
    width: 4.38rem;
    height: 1.06rem;
    border: 2px solid darkgray;
    
    margin: 0.38rem;
    border-radius: 5px;
    cursor: pointer;
    
    transition: .4s;
}

.barra:hover{
    background: #77ffc0;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 600%; /* porcenteagem de 100% para cada imagem*/
    height: 100%;
}

.slid{
    width: 20%;
    /* width: 100%; */
    transition: .6s;
}

.slid img{
    width:  100%; 
    height: 100%;
} 

#sld01:checked ~ .s1 {
    margin-left: 0;
}

#sld02:checked ~ .s1{margin-left: -20%;}
#sld03:checked ~ .s1{margin-left: -40%;}
#sld04:checked ~ .s1{margin-left: -60%;}
#sld05:checked ~ .s1{margin-left: -80%;}
#sld06:checked ~ .s1{margin-left: -100%;}
