body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    width:  100vw;
    background: linear-gradient(72deg, #3debb0 21%, #8956f3 99%);
    
}

input{
    display: none;
}

img{
    max-width: 100%;
}

.content{
    
    width: 520px;
    height: 935px;
    border-radius: 20px;
    
    overflow: hidden; /* Oculta os elementos que ultrapasarem o elemento */
    
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  */
    
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}





/* 
.content{

    height: 32.5rem;
    width: 58.44rem;
    border-radius: 20px;
    
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.navegation{
    
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    
    transform: translate(-50%);
    display: flex;

}

.barra{
    
    margin: 0.38rem;
    border: 2px solid darkgray;
    border-radius: 5px;
    cursor: pointer;

    width: 4.38rem;
    height: 1.06rem;

    transition: .4s;
}

.barra:hover{
    background: darkred;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slid{
    width: 100%;
    transition: .6s;
} 

.slid img{
    max-width: 100%;
    height: 200%;
}

#sld01:checked ~ .s1{
    margin-left: 0;
} 

 #sld02:checked ~ .s1{
    margin-left: -24.20%;
}

#sld03:checked ~ .s1{
    margin-left: -44.20%;
}    

#sld04:checked ~ .s1{
    margin-left: -64.20%;
}
#sld05:checked ~ .s1{
    margin-left: -84.20%;
}
#sld06:checked ~ .s1{
    margin-left: -104.20%;
}  */
